body {
	background-color: #f1f1f0; 
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

.wf-inactive body {
	font-family: Helvetica, Arial, sans-serif;
}
main {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

h1 {
	color: #003399;
	font-family: 'Eczar', Georgia, serif;
	font-size: 3em;
	line-height: 1;
}

.wf-inactive h1 {
	font-family: Georgia, serif;
	padding-top: 1em;
	line-height: 1.1;
}
#title {
	color: #993300;
}

h2 {
	color: #003399;
	font-family: 'Eczar', Georgia, serif;
	font-size: 2.5em;
}
.wf-inactive h2 {
	font-family: Georgia, serif;
}
p {
	font-size: 1em;
	line-height: 1.5;
	max-width: 40em;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 1em;
}

p:first-of-type {
	font-size: 1.5em;
	text-indent: inherit;
}

p:first-of-type:first-line {
	font-weight: bold;
}

p:first-of-type:first-letter {
	font-size: 4em;
	float: left;
	line-height: 1;
	padding-right: 0.2em;
}



